.center {
  margin: 0 auto;
}

.shadow-0 {
  box-shadow: 0!important;
}

.gauge-title{
  font-size: 10px;
  fill: #A1A6AD;
}

.tooltip{
  position: absolute;
  width: 120;
  height: auto;
  /* font-family: simsun; */
  font-size: 14px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  border-radius: 5px;
}

#coolerWrapper {
  overflow-x: scroll;
}
