<section class="card mt-3">
  <header class="card-header">
    <h5>CPU&nbsp;/&nbsp;MEM<!-- &nbsp;/&nbsp;<b>I/O</b> --></h5>
  </header>
  <main class="card-body justify-content-center">
    <div id="monitorAlert" class="alert alert-info"></div>
    <div id="monitorWrapper" style="display: none;">
      <svg id="cpuSvg" width="80" height="108"></svg>
      <svg id="memSvg" width="80" height="108"></svg>
      <!-- <svg id="ioSvg" width="80" height="108"></svg> -->
    </div>
  </main>
</section>
