<main class="container">
  <div class="row justify-content-center mt-2">
    <div class="col col-lg-10">
      <!-- cpu & mem & io -->
      <% include ../partials/panels/monitor.ejs %>
      <!-- cooler -->
      <% include ../partials/panels/cooler.ejs %>
      <!-- fresh button -->
      <button id="btnRefresh" class="btn btn-raised btn-secondary mt-3">Refresh</button>
    </div>
  </div>
</main>
